.front-page-container {
    text-align: center;
    background-color: rgba(0,0,0,0.5);
    padding: 10px;
    color: #FFF;
    top: 0;
    right: 0;
    position: absolute;
    height: 100%;
    width: 100%;
}

.front-page-container h1 {
  font-family: 'Cinzel', serif;
  color: white;
  font-size: 80px;
}

.front-page-container p {
    width: 70%;
    margin-left: 15%;
    margin-bottom: 1.5rem;
}

.front-page-container button {
    background: transparent;
    border: 1px solid white;
    outline: none;
    border-radius: 0;
}

.front-page-btn.active.focus, .front-page-btn.active:focus, 
.front-page-btn.focus, .front-page-btn:active.focus, 
.front-page-btn:active:focus, .front-page-btn:focus {
    outline: none;
}

.example-enter {
  opacity: 0.01;
}

.example-enter.example-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.example-leave {
  opacity: 1;
}

.example-leave.example-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}
