html {
  position: relative;
  min-height: 100%;
}

.modal-custom {
  font-family: 'Raleway', sans-serif;
}

.modal-content {
  border-radius: 0;
}

.btn-modal {
  border-radius: 0;
}

.btn-square {
  border-radius: 0;
  width: 60%;
  text-align: center;
  margin-top: 0.5rem;
}

