/* MAPS VIEWS */
#mapid {
  height: 1000px;
}

.map-index-header {
  position: absolute;
  left: 20%;
  width: 60%;
  top: 2%;
  color: white;
  font-size: 60px;
  text-align: center;
  font-family: "Raleway", sans-serif;
}

.shadow-cover {
  position: absolute;
  top: 0em;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.62);
}

.maps-list {
  position: absolute;
  top: 15%;
  left: 10%;
  width: 100%;
  color: white;
  font-family: "Raleway", sans-serif;
}

.maps-list h2 {
  margin-bottom: 0.5rem;
}

